
.password-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-inputs input{
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 5px;
}
