#password-saved{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 0 15%;
}

.individual-password{
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    align-items: center;
    text-align: left;
}

.individual-password span{
    margin: 20px;
}

.individual-password button{
    background-color: white;
    border-radius: 20px;
    height: 25px;
}
