
.password-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-inputs input[type='text']{
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 5px;
    box-sizing: border-box;
}

.password-checkbox {
    width: 50%;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

#generate {
    padding: 10px;
    background-color: white;
    border: 7.5px groove grey;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;

}

#generate:active{
    background-color: lightgrey;
    border: 7.5px groove lightgrey;
}
